# درصورتی که از mysql استفاده میکنید طبق الگوی زیر عمل کنید
DATABASE_URL="mysql://root:password@database_address:port/database_name"

DATABASE_USER=""
DATABASE_PASSWORD=""
DATABASE_NAME=""
DATABASE_HOST=""
DATABASE_PORT=

# Clerk API keys
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=

NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
NEXT_PUBLIC_CLERK_SIGN_IN_FALLBACK_REDIRECT_URL=/
NEXT_PUBLIC_CLERK_SIGN_UP_FALLBACK_REDIRECT_URL=/

# توکن آپلودر در https://uploadthing.com
UPLOADTHING_TOKEN=""